<div class="container__big-card">

    <div class="big-card__photo">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToeQ8vRlNiAm6KwGyA8qnct8SlOtXBb4U8mw&s"
        alt=""
        height="400px"
        srcset=""
      >
    </div>
  
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
  
    <div class="big-card__description">
        <p>Sim, a versão mais recente do Angular é a 19, lançada em 19 de novembro de 2024. 
            Esta versão torna componentes, diretivas e pipes independentes (standalone) por padrão, 
            simplificando a estrutura do código.</p>
    </div>
  
  </div>